<!doctype html>
<html>
<head>
    <title>POSTMAN</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <style>
    body{ 
        font-family: 'Raleway';
        padding-top:80px; 
    }
    </style>
</head>
<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1></span> POSTMAN</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>        
        </div>

    </div>
</body>
</html>
