<!doctype html>
<html>
<head>
    <title>POSTMAN</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <style>
    body{ 
        padding-top:80px; 
        font-family: 'Raleway';
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="page-header text-center">
                <h1></span>Signup</h1>
            </div>

            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- SIGNUP FORM -->
            <form action="/signup" method="post">        
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" autocomplete="off">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Signup</button>
            </form>

            <hr>

            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
            
        </div>
    </div>
</body>
</html>
